@keyframes circle_1_animation {
  0% {
    width: 184.85px;
    height: 184.85px;
  }
  50% {
    width: 200px;
    height: 200px;
  }
  100% {
    width: 184.85px;
    height: 184.85px;
  }
}

@keyframes circle_2_animation {
  0% {
    width: 324.85px;
    height: 324.85px;
  }
  50% {
    width: 400px;
    height: 400px;
  }
  100% {
    width: 324.85px;
    height: 324.85px;
  }
}

@keyframes circle_3_animation {
  0% {
    width: 524.85px;
    height: 524.85px;
  }
  50% {
    width: 600px;
    height: 600px;
  }
  100% {
    width: 524.85px;
    height: 524.85px;
  }
}

.circle_1 {
  width: 184.85px;
  height: 184.85px;

  position: absolute;
  animation: circle_1_animation 1.5s infinite;
}

.circle_2 {
  width: 324.85px;
  height: 324.85px;

  position: absolute;
  animation: circle_2_animation 1.6s infinite;
}

.circle_3 {
  width: 524.85px;
  height: 524.85px;

  position: absolute;
  animation: circle_3_animation 1.7s infinite;
}
