.home {
  background-color: #081622;
  height: 100vh;
  background-image: url('../../assets/Home.svg');
  background-position: center;
}
.home_container {
  display: flex;
  align-items: center;
  height: 100%;
}

.home_description {
  display: flex;
  gap: 12px;
  color: #00fed0;
}

.home_title {
  margin: 0px;
  font-size: 7em;
  color: whitesmoke;
  text-transform: uppercase;
  max-width: 170px;
}
.home_watermark {
  margin: 0px;
  font-size: 130px;
  color: whitesmoke;
  text-transform: uppercase;
}

.home_rol {
  margin: 0px;
  font-size: 2em;
  color: #f19b9b;
}
.active {
  width: 15px;
  height: 15px;
  background-color: #00fed0;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  animation: palpitar 1s infinite alternate;
}

@keyframes palpitar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.home_container {
  padding-left: 20px;
}

.title-enphasis {
  color: aqua;
  margin: 0px;
}

@media screen and (width <= 800px) {
  .home_title {
    margin: 0px;
    font-size: 5em;
    color: whitesmoke;
    text-transform: uppercase;
    max-width: 170px;
  }

  .home_rol {
    margin: 0px;
    font-size: 1.5em;
    color: #f19b9b;
  }
}

@media screen and (width <= 500px) {
  .home_title {
    margin: 0px;
    font-size: 3em;
    color: whitesmoke;
    text-transform: uppercase;
    max-width: 170px;
  }

  .home_rol {
    margin: 0px;
    font-size: 1em;
    color: #f19b9b;
  }
}
