.explore {
  display: flex;
  align-items: center;
  height: 100vh;
  animation: b 5s infinite alternate;
  position: relative;
}
@keyframes circularAnimation {
  0% {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.point {
  padding: 2px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: circularAnimation 5s linear infinite;
}
@keyframes b {
  0% {
    background: #d73e4c;
  }
  15% {
    background: #f67246;
  }
  30% {
    background: #e9c465;
  }
  60% {
    background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px
        2500px;
    background-blend-mode: difference;
    opacity: 0.9;
  }
  61% {
    background-image: linear-gradient(
      89.7deg,
      #d73e4c 2.7%,
      #f67246 15.1%,
      #e9c465 29.5%,
      #97e965 45.8%,
      #8faba7 61.5%,
      #6865e9 76.4%,
      #bf65e9 92.4%
    );
    background-position: center;
    background-size: cover;
  }
  80% {
    background: #bf65e9;
  }
  85% {
    background: white;
  }
  100% {
    background: #d73e4c;
  }
}
.explore_container {
  margin: 0px;
  height: 100vh;
}
.explore_hello {
  color: #161616;
}
.explore_title {
  margin: 0;
  text-transform: uppercase;
  font-size: 6em;
  color: #ffffff;
  text-align: center;
}
.explore_description {
  margin: 0;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  background-color: white;
  text-align: center;
  width: auto;
}
.explore_credits {
  color: black;
  font-size: 18px;
}
.explore_canvas {
  height: 100%;
  width: 50%;
}

@media screen and (width <= 800px) {
  .point {
    display: none;
  }
  .explore_title {
    margin: 0;
    text-transform: uppercase;
    font-size: 4em;
    color: #081622;
  }
  .explore {
    display: flex;
    align-items: center;
    height: 100vh;
    animation: b 5s infinite alternate;
    flex-direction: column;
  }
  .explore_canvas {
    height: 40% !important;
    width: 80% !important;
  }
}

@media screen and (width <= 500px) {
  .explore_title {
    margin: 0;
    text-transform: uppercase;
    font-size: 3em;
    color: #081622;
  }
  .explore {
    display: flex;
    align-items: center;
    height: 100vh;
    animation: b 5s infinite alternate;
    flex-direction: column;
    padding: 1.5rem;
  }
  .explore_canvas {
    height: 40% !important;
  }
}
