.contact-me {
  background-color: #d400ff;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.contact-me_title {
  margin: 0;
  text-transform: uppercase;
  font-size: 90px;
  color: #ececec;
}
.footer {
  font-weight: 400;
  font-style: normal;
  background-color: #00fed0;
  color: #020018;
  text-align: center;
  font-size: 1.2em;
}
