.jobs {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  background-size: cover;
  padding: 1em;
}
.jobs_title {
  margin: 0;
  text-transform: uppercase;
  font-size: 3em;
  color: white;
  text-align: center;
}
.jobs_layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.proyect_1:hover .overlay,
.proyect_3:hover .overlay,
.proyect_2:hover .overlay,
.proyect_4:hover .overlay {
  opacity: 1;
}

.proyect_1 {
  grid-area: 1 / 1 / 6 / 2;
  border: solid 1px white;
  border-radius: 12px;
}
.proyect_2 {
  grid-area: 1 / 2 / 3 / 6;
  border: solid 1px white;
  border-radius: 12px;
}
.proyect_3 {
  grid-area: 3 / 2 / 6 / 3;
  border: solid 1px white;
  border-radius: 12px;
}
.proyect_4 {
  grid-area: 3/ 3 / 6 / 6;
  border: solid 1px white;
  border-radius: 12px;
}

.ver-mas {
  padding: 0.8rem;
  border: solid 1px #f67246;
  text-decoration: none;
  color: white;
  min-width: 120px;
  border-radius: 12px;
  text-align: center;
}
.ver-mas:hover {
  background-color: #f67246;
}
.ver-mas-disabled {
  background-color: #999999;
  padding: 0.8rem;
  border: none;
  text-decoration: none;
  color: rgb(77, 75, 75);
}

@media screen and (width <= 800px) {
}
