.jobs {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/jobs-bg.png');
  background-size: cover;
}
.jobs_layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  height: 100%;
  width: 80%;
  height: 95%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.proyect_1:hover .overlay,
.proyect_3:hover .overlay,
.proyect_2:hover .overlay,
.proyect_4:hover .overlay {
  opacity: 1;
}

.proyect_1 {
  grid-area: 1 / 1 / 6/ 3;
}
.proyect_2 {
  grid-area: 1 / 3 / 3 / 6;
}
.proyect_3 {
  grid-area: 3 / 3 / 6;
}
.proyect_4 {
  grid-area: 3 / 4 / 6 / 6;
}

.ver-mas {
  background-color: #be3455;
  padding: 0.8rem;
  border: none;
  text-decoration: none;
  color: white;
}
.ver-mas-disabled {
  background-color: #999999;
  padding: 0.8rem;
  border: none;
  text-decoration: none;
  color: rgb(77, 75, 75);
}

@media screen and (width <= 800px) {
}
